*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, button:hover, .bookMark:hover {
    cursor: pointer;
}
/* Nav Bar*/

#navContainer, header {
    background-color: #ffc017;
    border-bottom: solid black 1px;
}
#navContainer {
    position: sticky;
    top: 0px;
    z-index: 900;
}
nav, .hero {
    background-color: none;
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding-block: 1rem;
}
.navItems li {
    display: inline-block;
    padding-inline: 0.5rem;
    font-size: 0.8em;
}
.navItems button {
    font-size: 1em;
}
.navItems button:active, header button:active {
    background-color: rgba(108, 107, 107, 0.601);
    border: none;
    color: black;
}
.navItems #navButton, header button {
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px 17px;
    border: none;
}

/* Scroll Nav bar effects class */
.scrolledNavBar {
    background-color: white !important;
    transition: background-color 0.3s ease;
}
.scrolledButton {
    background-color: #1a8917 !important;
    transition: background-color 0.3s ease;
}
/* Header */

header {
    position: relative;
    overflow: hidden;
}
.hero {
    padding-block: 3rem;
}
.hero img {
    position: absolute;
    right: 0;
    top: -10px;
    max-width: 100%;
}
.hero h1 {
    font-size: 5rem;
    font-family: "Spectral", serif;
    margin-bottom: 1rem;
    letter-spacing: -5px;
}
header button {
    padding-inline: 55px;
    margin-block: 3rem;
    border-radius: 60px;
}

.headerTextContent p, .headerTextContent button {
    font-size: 1.3em;
}
.headerTextContent p {
    letter-spacing: 1px;
}

/* Articoli */

section {
    overflow: hidden;
    width: 75%;
    margin: auto;
    padding-block: 2rem;
}
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}
section h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.author .grey, .artCard .grey {
    color: gray;
}
.iconAuthor, .headerContainer {
    display: flex;
    align-items: center;
}

section h3{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    color: gray;
    letter-spacing: 1px;
}
.card, .artFoot, .contArt, .sideArgs {
    display: flex;
}
.card {
    padding-block: 1rem;
    max-width: 270px;
    width: 100%;
}
.card .artNumb {
    opacity: 0.1;
    font-size: 2rem;
    font-weight: bold;
}
.artNumb {
    padding-right: 1rem;
}
.icon, .artCard img {
    border-radius: 50%;
    width: 20px;
}
.contArt .asideArtCont:nth-child(6) .artCard>img{
   border-radius: 20%;
}
.artContent .author {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
.artContent .artFoot, .artCard .artFoot {
    justify-content: space-between;
    color: gray;
    align-items: center;
    font-size: 0.9rem;
}
.contArt>div:nth-child(3) .artFoot {
    justify-content: flex-start;
}
.contArt>div:nth-child(3) img:last-of-type {
    justify-self: flex-end;
    margin-left: auto;
    
}
.artContent>p:last-of-type {
    padding-block: 1rem;
    font-weight: bold;
}
.artContent {
    padding-top: 0.5rem;
}
.secContainer, .sideArgs {
    border-bottom: 1px solid rgb(205, 205, 205);
}
.artContent>p:last-of-type:hover, .artCard h3:hover {
    text-decoration: underline;
}

/* Aside */

aside {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
}
.contArt {
    width: 70%;
    flex-wrap: wrap;
    padding-right: 4rem;
}
.asideArtCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    max-width: 600px;
    min-width: 400px;
}
.artCard {
    padding-right: 2rem;
}
.artCard img, .artCard p:first-of-type {
    display: inline-block;
    vertical-align: middle;
}
.sideImg img {
    max-height: 20vh;
    
}
.artFoot .highlight {
    background-color: rgba(204, 203, 203, 0.311);
    padding: 5px 10px;
    border-radius: 20px;
}
.sideArt {
    width: 29%;
}
.artCard h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}
.artCard p:nth-of-type(2) {
    color: gray;
    padding-block: 1rem;
}

/* Side Bar*/

.sideArt h4 {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.sideArgs {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.sideItems li {
    display: inline-block;
    border: solid 1px rgb(168, 164, 164);
    padding: 10px 15px;
    margin: 3px;
    font-size: 0.7rem;
}
.sideItems li a, .footItems li a {
    text-decoration: none;
    color: gray;
}
footer .footItems li {
    display: inline-block;
    margin: 10px;
    font-size: 0.7rem;
}
footer{
    padding-block: 1rem;
}

/* Break Points*/

@media screen and (max-width: 550px) {
    nav, .hero, section, aside {
        width: 90%;
        margin: auto;
    }
    .navItems li:nth-child(-n+3), .matrix, .star {
        display: none;
    }
    .headerTextContent h1 {
        font-size: 4rem;
    }
    .headerTextContent p, .headerTextContent button {
        font-size: 1rem;
    }
    .headerTextContent button {
        margin-block: 2rem;
        padding-inline:  40px;
    }
} 

@media screen and (max-width: 690px) {
    .sideImg img {
        max-height: 15vh;   
    }
}

@media screen and (max-width: 740px) {
    .artContent .artFoot {
        justify-content: space-between;
    }
    aside {
        flex-direction: column !important;
        flex-wrap: nowrap;
    }
    .sideArt {
        width: 100%;
        margin-right: 0;
        order: 1;
    }
    .contArt {
        width: 100%;
        padding-right: 0;
        order: 2;
    }
    .card {
        max-width: 100%;        
    }
    .navItems li:nth-child(-n+3) {
        display: none;
    }
    
} 
@media screen and (max-width: 980px) {
    .matrix {
        display: none;
    }
    
} 
@media screen and (max-width: 1100px) {
    .star {
        display: none;
    }
    
} 
@media screen and (min-width: 721px) and (max-width: 1100px) {
    .artContent .artFoot {
        justify-content: flex-start;
    }
    .dotSeparator {
        margin-inline: 10px;
    }
}
@media screen and (min-width: 1134px) {
    .cardContainer .card:nth-child(n+3):nth-child(-n+6) img{
        border-radius: 20%;
    }
}